.toolbar-icon-site.error:before {
    background-image: url(../../../../../../core/misc/icons/dc2323/error.svg);
}
.toolbar-icon-site.error:active:before,
.toolbar-icon-site.error.is-active:before {
    background-image: url(../../../../../../core/misc/icons/dc2323/error.svg);
}

.toolbar-icon-site.success:before {
    background-image: url(../../../../../../core/misc/icons/73b355/check.svg);
}
.toolbar-icon-site.success:active:before,
.toolbar-icon-site.success.is-active:before {
    background-image: url(../../../../../../core/misc/icons/73b355/check.svg);
}

.toolbar-icon-site.warning:before {
    background-image: url(../../../../../../core/misc/icons/e29700/warning.svg);
}
.toolbar-icon-site.warning:active:before,
.toolbar-icon-site.warning.is-active:before {
    background-image: url(../../../../../../core/misc/icons/e29700/warning.svg);
}

.toolbar-oriented .toolbar-bar .toolbar-tab.edit-site-toolbar
{
    float: right; /* LTR */
}

.toolbar-icon-site-main {
    text-indent: -9999px;
}


.toolbar-icon-site-main:before {
    background-image: url(../../../../../../core/misc/icons/73b355/globe.svg);
}


/**
 * Reusable colors.
 */
/** Info **/
.state--1,
.color-info
{
    color: #1B2D52 !important;
    background-color: #d4e3ff !important;
}

/** OK **/
.state-0,
.color-success {
    color: #325e1c !important;
    background-color: #f3faef !important;
}
/** WARNING **/
.state-1,
.color-warning {
    color: #734c00 !important;
    background-color: #fdf8ed !important;
}
/** ERROR **/
.state-2,
.color-error {
    color: #a51b00 !important;
    background-color: #fcf4f2 !important;
}

a.state--1:before {    height: 1em;
    content: "";
    width: 1em;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../../../../../../core/misc/icons/000000/questionmark-disc.svg);
    float: left;
    margin-right: 1em;
}
a.state-0:before {    height: 1em;
    content: "";
    width: 1em;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../../../../../../core/misc/icons/73b355/check.svg);
    float: left;
    margin-right: 1em;
}
a.state-1:before {    height: 1em;
    content: "";
    width: 1em;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../../../../../../core/misc/icons/e29700/warning.svg);
    float: left;
    margin-right: 1em;
}
a.state-2:before {    height: 1em;
    content: "";
    width: 1em;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../../../../../../core/misc/icons/ee0000/ex.svg);
    float: left;
    margin-right: 1em;
}

.views-field-label a.button {
    white-space: nowrap;
}
.views-field-label a:hover {
    text-decoration: underline;
}
.view-sites.view-display-id-page_2 .views-row {
    display: inline-block;
}
.view-sites.view-display-id-page_2 .views-row .views-field-label a.button {
    margin:0;
}

a.table-button,
a.table-button-state
{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    align-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15em;
    min-width: 5em;
    overflow: hidden;
}

a.table-button-state {
    width: 100%;
}

.site-display > legend {
    display: inline-block;
}

.site-display > legend.fieldset__legend {
    display: inline-block;
    width: auto;
    margin: 0;
}

.site-display .fieldset__wrapper {
    margin-top: 0;
}

.site-timestamp .field--name-revision-timestamp {
    display: inline-block;
}
.site-timestamp legend {
    display: inline-block;
    width: auto;
    margin: 0;
}

.site-timestamp .timestamp-ago {
    float: right;
    padding: 1rem;
    line-height: 1rem;
    margin: 0;
}
.site-timestamp blockquote {
    clear: both;
    font-size: 1rem;
    font-style: italic;
}

fieldset.site-display details,
fieldset.site-display fieldset,

fieldset.site-timestamp details,
fieldset.site-timestamp fieldset
{
    clear: both;
    /*margin: 0 -1.5rem -1.75rem;*/
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: none;
    position: relative;
}

fieldset.site-display fieldset .fieldset__wrapper {
    margin-bottom: 0;
}

.site-urls fieldset .fieldset__wrapper {
    margin-left: 0;
}
.site-state details {
}
.site-state summary,
.site-state fieldset .fieldset__label {
    padding-left: 3rem;
    position: relative;
}
.site-entity-header .icon::before,
.site-state .icon::before {
    position: absolute;
    top: 1em;
    left: 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.625rem; /* LTR */
    content: "x";
    text-indent: -100000px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: Show contain;
}

.site-widget .site-entity-header .icon::before,
.site-widget .site-state .icon::before {

    top: 0.3rem;
    left: 0.4rem;
}
.site-state details .icon::before {
  left: 2rem;
}

.site-state details summary {
    padding-left: 3.5rem !important;
    background: none;
}
.site-entity-header .icon::before {
  /*left: 1rem;*/
}
.site-entity-header .site-title {
    padding-right: 1.5rem !important;
    background: none;
}

.site-widget .site-entity-header .site-title {
    padding-left: 1.5rem !important;
}
.site-widget .site-title a {
    font-size: .8rem;
    padding: 0.1rem;
}

.site-entity-header .color-error .icon::before,
.site-state .state-error .icon::before {
    background-image: url(../../../../../../core/misc/icons/ee0000/ex.svg);
}
.site-entity-header .color-warning .icon::before,
.site-state .state-warning .icon::before {
    background-image: url(../../../../../../core/misc/icons/e29700/warning.svg);
}
.site-entity-header .color-success .icon::before,
.site-state .state-success .icon::before {
    background-image: url(../../../../../../core/misc/icons/73b355/check.svg);
}

.site-entity-header .color-processing .icon::before,
.site-state .state-processing .icon::before {
    background-image: url(../../../../../../core/misc/icons/787878/cog.svg);
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

details.state-processing,
fieldset.site-display .color-processing {
  background-color: whitesmoke;
}

.site-display {
    position: relative;
}

.site-display.site-widget {
    display: inline-block;
}

.site-display fieldset,
.site-display details
{
    margin: 0;
}

.site-display .fieldset__wrapper {
    margin: 0;
    min-height: 100%;
    padding: 0;
}
.site-display > .fieldset__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.site-display .action-link {
    display: inline-block;
    padding: 0.75rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #55565b;
    border-radius: 2px;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
}
.site-display.site-widget .action-link {
    background: none;
}

.site-display.site-full .site-entity-header,
.site-display.site-full .site-entity-header * {
  background-color: whitesmoke !important;

}
.site-display .site-entity-header .site-operations,
.site-display .site-entity-header .site-operations .dropbutton-wrapper,
.site-display .site-entity-header .site-operations .dropbutton-toggle button,
.site-display .site-entity-header .site-operations .dropbutton-widget,
.site-display .site-entity-header .site-operations .dropbutton,
.site-display .site-entity-header .site-operations .dropbutton__item {
  background-color: transparent !important;
}
.site-display .site-entity-header .site-operations .dropbutton .edit a {
    padding-right: 2rem !important;
}

.site-display .site-title {
    float: left;
}

.site-display .site-operations {
}

.site-display .site-content {
    white-space: normal;
    display: inline-block;
}

.site-display .site-title,
.site-display .site-content,
.site-display .site-operations
{
    line-height: 1.0rem;
    margin: 0;
}

.site-display .site-content .field {
    padding: 0.5rem 1rem;
    line-height: 1.0rem;
    margin: 0;
    display: inline-grid;
}

.site-display .site-entity-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
    line-height: 1.5rem;
}

.site-display .site-entity-header .site-title {
    align-self: flex-start;
    flex-grow: 3;
}
.site-display .site-entity-header .site-title a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 10;
}

.site-display .site-entity-header .site-title a:hover {
    text-decoration: underline;
}

.site-display .site-entity-header .site-operations {
    align-self: flex-end;
    position: absolute;
    top: .2rem;
}

.site-display .site-content
{
    flex-grow: 8;
}
.site-display .site-title
{
    padding: 0;
}
.site-display .site-title a {
  overflow: hidden;
  text-overflow: ellipsis;

}

.site-display .site-state {
}

.site-display .site-content .field__label {
    display: inline-block;
    font-weight: normal;
    text-transform: uppercase;
    font-size: .7em;
}
.site-display .site-content .field__item {

    font-family: monospace;

}
.site-urls {
    overflow: hidden;
}
.site-urls ul {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
.site-urls ul li {
  display: inline-block;
    margin: 0;
}

.site-urls ul li a {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.site-urls ul li a:hover {
  text-decoration: underline;
}

.site-urls ul li a.canonical::before {
    background: transparent url("data:image/svg+xml,%3csvg height='24' width='96' xmlns='http://www.w3.org/2000/svg'%3e%3cg stroke='%238e929c'%3e%3cpath d='m94.46 9.667h-7.937l-2.523-8.007-2.523 8.007h-7.937l6.768 4.926-3.076 8.007 6.768-4.927 6.768 4.927-3.076-8.007zm-24 0h-7.937l-2.523-8.007-2.523 8.007h-7.937l6.768 4.926-3.076 8.007 6.768-4.927 6.768 4.927-3.076-8.007z' fill='%23ffd23f'/%3e%3cg fill='none'%3e%3cpath d='m38.42 9.327.11.35h7.934l-6.521 4.742-.31.225.138.358 2.922 7.599-6.397-4.653-.294-.214-.294.214-6.397 4.653 2.923-7.599.137-.358-.31-.225-6.521-4.742h7.934l.11-.35 2.418-7.665zm-24.002 0 .11.35h7.934l-6.521 4.742-.31.225.138.358 2.922 7.599-6.397-4.653-.294-.214-.294.214-6.397 4.653 2.923-7.599.137-.358-.31-.225-6.521-4.742h7.934l.11-.35 2.418-7.665z'/%3e%3cpath d='m42.5 1v7m-3.5-3.5h7m42 2.5 6-6m0 6-6-6' stroke-linecap='square' stroke-miterlimit='3'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") left top / 6rem 1.5rem no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.2rem;
    background-position: -3rem top;
}
.site-display.site-full .site-entity-header .site-title a.canonical-site::before {
    background: transparent url("data:image/svg+xml,%3csvg height='24' width='96' xmlns='http://www.w3.org/2000/svg'%3e%3cg stroke='%238e929c'%3e%3cpath d='m94.46 9.667h-7.937l-2.523-8.007-2.523 8.007h-7.937l6.768 4.926-3.076 8.007 6.768-4.927 6.768 4.927-3.076-8.007zm-24 0h-7.937l-2.523-8.007-2.523 8.007h-7.937l6.768 4.926-3.076 8.007 6.768-4.927 6.768 4.927-3.076-8.007z' fill='%23ffd23f'/%3e%3cg fill='none'%3e%3cpath d='m38.42 9.327.11.35h7.934l-6.521 4.742-.31.225.138.358 2.922 7.599-6.397-4.653-.294-.214-.294.214-6.397 4.653 2.923-7.599.137-.358-.31-.225-6.521-4.742h7.934l.11-.35 2.418-7.665zm-24.002 0 .11.35h7.934l-6.521 4.742-.31.225.138.358 2.922 7.599-6.397-4.653-.294-.214-.294.214-6.397 4.653 2.923-7.599.137-.358-.31-.225-6.521-4.742h7.934l.11-.35 2.418-7.665z'/%3e%3cpath d='m42.5 1v7m-3.5-3.5h7m42 2.5 6-6m0 6-6-6' stroke-linecap='square' stroke-miterlimit='3'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") left top / 6rem 1.5rem no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.2rem;
    background-position: -3rem top;
}

.site-display.site-widget .site-title a {
    font-weight: normal;
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.site-display.site-widget .site-title a.canonical-site {
    font-weight: bold;
}

.site .site-operations {
    float: right;
    margin-right: -1rem;
}

.site-display .site-urls fieldset.form-item {
    margin: 0;
}

.site-display .site-content fieldset {
    padding: 1rem;
}

.site-operations .dropbutton-wrapper,
.site-operations .dropbutton-widget {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.site-operations ul.dropbutton,
.site-operations button.dropbutton__toggle {
    height: 3rem !important;
}
.site-operations .dropbutton a,
.site-operations .dropbutton button {
    display: inline-block;
    padding: 0.75rem 1rem !important;
    cursor: pointer;
    text-decoration: none;
    color: #55565b;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: #fff;
    font-size: 1rem !important;
    font-weight: 700;
    line-height: 1.5rem !important;
    text-align: right;
}
.site-widget .site-operations .dropbutton a,
.site-widget .site-operations .dropbutton button {
    padding: 0.7rem !important;
    font-size: .7rem !important;
}

.site-widget .site-operations .dropbutton-toggle a,
.site-widget .site-operations .dropbutton-toggle button {

    width: 1rem;
    height: 1rem !important;
}
.site-operations .dropbutton .dropbutton-toggle {

}


.drupal-project .site-operations .dropbutton a,
.drupal-project .site-operations .dropbutton button {
  padding: .5rem .75rem !important;
}
.view-project-sites.view-display-id-project_sites ,
.view-sites .view-content
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}


@media screen and (max-width: 768px) {
    .view-project-sites,
    .view-sites .view-content {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 425px) {
    .view-project-sites,
    .view-sites .view-content {
        grid-template-columns: auto;
    }
}
@media screen and (min-width: 1900px) {
    .view-project-sites,
    .view-sites .view-content {
        grid-template-columns: auto auto auto auto;
    }
}


@media screen and (min-width: 2500px) {
    .view-project-sites,
    .view-sites .view-content {
        grid-template-columns: auto auto auto auto auto;
    }
}


.site-state .site-changed {
    display: inline;
    font-weight: normal;
    font-style: italic;
    font-size: .8em;
    margin-left: 1rem;
}

.site-display .site-state {
    width: 100%;
}

.site-display .site-subheader {
    background: #eee;
    font-size: 0.7rem;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
}

.site-display .site-subheader span,
.site-display .site-subheader em,
.site-display .site-subheader a,
.site-display .site-subheader .field > div

{
    color: #555;
    padding: .5rem;
    text-decoration: none;
    display: inline-block;
}

.site-display .site-subheader a:hover {
    text-decoration: underline;
}

.site-display .site-subheader div
{
    display: inline-block;
}
.site-display .site-manager {
    align-self: flex-start;
}

.site-display .site-self {
    align-self: flex-end;
}

article.drupal-project.teaser {
}
article.drupal-project.teaser .fieldset__wrapper
{
  margin: 0;
  display: flex;
  justify-content: space-between;
}
article.drupal-project.teaser .fieldset__wrapper .field
 {
    align-self: center;
    padding: 1rem;
}

article.drupal-project .field--name-label .site-operations {
  position: relative;
  width: 2rem;
  height: 2rem;
  left: 0.5rem;
  top: -0.25rem;
}
article.drupal-project .site-operations .dropbutton-wrapper {
  position: absolute;
  right: 0;
}
article.drupal-project .site-operations .dropbutton {
  padding-top: 3rem;
}
article.drupal-project .site-operations .dropbutton > .dropbutton-toggle > button {
  background: none;
}
article.drupal-project.teaser .field--name-label {
    text-overflow: ellipsis;
    position: relative;
  padding-right: 2rem;

  display: grid;

}
article.drupal-project.teaser .field--name-label {
  grid-template-columns: auto 3rem;
}

article.drupal-project.teaser .field--name-label .field--name-canonical-url {
  padding: 0;
}

article.drupal-project.teaser .field--name-label .field--name-canonical-url a {
    color: #666;
    font-weight: bold;
    font-size: .7rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: -0.5rem;
}
article.drupal-project.teaser .field--name-label .field--name-canonical-url a:hover {
  text-decoration: underline;
}
article.drupal-project.teaser .field--name-label > a {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    z-index: 10;
}
article.drupal-project.teaser .field--name-label > a:hover {
  text-decoration: underline;
}
article.drupal-project.teaser .field--name-git-remote {
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
}
article.drupal-project.teaser .field--name-git-remote a {
    align-self: flex-end;



}

article.drupal-project .js .dropbutton-widget {
  border-radius: 2px;
  background: none;
}

/** @todo: set class for environments view **/
article.drupal-project.teaser .views-element-container {
  flex-grow: 4;
}


article.drupal-project.teaser .views-element-container .site-display.site-widget {
     display: inline-block;
     float: right;
 }
article.drupal-project.teaser .views-element-container .site-display.site-widget.form-item {
    margin: 0;
}

.view-project-sites {

}

.region.region-content {
    position: relative;
}


.region.region-content .view-drupal-projects .view-filters {
    position: absolute;
    top: -2rem;
    right: 0px;
}


.region.region-content .view-drupal-projects .view-filters .views-exposed-form.views-exposed-form {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}


.site-display .composer-info-name {
  display: inline-block;
  vertical-align: middle;
  font-size: .7rem;
  font-weight: normal;
  margin: -0.5rem 2rem;
}

.site-display .composer-info-name > div {
  margin: 0 .5rem;
  height: 2rem;
}

.site-display .composer-info-name label {
  font-size: .7rem;
  font-family: monospace;
  font-weight: normal;
  margin: 0;
}

.site-display .composer-info-support ul {
  list-style: none;
}
.site-display .composer-info-support ul li {
  display: inline;
}

table.config-changes-diff th {
    background: none;
}
table.config-changes-diff tr {
    background: none;
    border: none;
}
table.config-changes-diff th,
table.config-changes-diff td
{
    padding: .5rem;
    height: auto;
}

table.config-changes-diff .diffchange {
    font-weight: normal;
    color: initial;
}
