
.site-revision {
    cursor: pointer;
}
.site-revision .log-message blockquote {
    max-width: 20rem;
    font-size: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}
.site-revision-details {
    display: none;
}

.site-revision  .field--name-revision-timestamp {
    font-size: .8rem;
}

tr.site-revision-row {
    border-bottom: none;
    border-top: 0.0625rem solid #d3d4d9;
}

tr.site-revision-row.expanded,
tr.site-revision-row:hover
{
    box-shadow: inset .4rem .4rem .4rem -.4rem;
}

tr.site-revision-details.expanded {
    box-shadow: inset .4rem 0 .4rem -.4rem;
}
