<p>The Site.module allows you to track, store, and send information about your websites.

<p>When installed in a Drupal site, a Site Entity is created to store site status, properties like PHP and Drupal versions, fields, state, and a human-readable "reasons" output. Site report snapshots provide a historical record of site state.   Connect to a <a href="https://www.drupal.org/project/site">Site Manager</a> instance to send out reports to a central dashboard.

<p>Site entities can represent any website with a URL. Use site module to build a custom Website Management System to track everything in one place.

<p align="center">
  <a class="action-button" href="https://docs.google.com/presentation/d/1ZKEaa3cJL7dYG3_O0Sp8Livs5DrWl7nNbmmvix0sip0/edit?usp=sharing" rel="nofollow">▶ Site Module  Presentation</a><br><br>
  <a href="https://simplytest.me/project/site/2.x" rel="nofollow">Try Site Module on SimplyTest.me</a>
</p>

<div class="note">
  <h3>NOTICE: The Site.module needs your support!</h3>
  <p>The Site and Site Manager modules are free open source tools, often worked on by unpaid volunteers.</p>
  <p>Without your ongoing support, regular maintenance cannot be guaranteed.</p>
  <p>Please consider <a href="https://opencollective.com/drupal-operations">supporting the project financially</a>, or if possible, provide community support such as <a href="">issue management</a> or <a href="">code contributions</a>.

  <p>Thank you!
</div>

<h2>Features</h2>
<blockquote>
  <p>The Site.module provides base content entities to represent sites and projects.</p>
  <p>Initially designed to monitor Drupal site state, there are many different use cases.</p>
</blockquote>
<table class="views-view-grid" width="100%">
  <tbody><tr>
    <td width="50%">
      <strong>Site State Tracking</strong>
      <ul>
        <li>Store overall state of the site using Drupal core status report & <a href="https://www.drupal.org/project/site_audit">Site Audit module</a> checks.</li>
        <li>Tracks properties such as Drupal version, PHP version, Install time, Cron Last, <a href="https://git.drupalcode.org/project/site/-/tree/2.x/src/Plugin/SiteProperty?ref_type=heads">and more</a>.</li>
        <li>Site Entity Reports store config changes, showing before and after.</li>
      </ul>
    </td>
    <td width="50%">
      <strong>Site & Project Content Entities</strong>
      <ul>
        <li>Site Entities are revisionable, tracking changes over time.</li>
        <li>Site Entities are fieldable. Store any additional information for display in the site and any connected Site Managers.</li>
        <li>Project entities represent your Drupal site across environments, and can be used to group generic websites together.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <strong>Remote Data</strong>
      <ul>
        <li>Send site entity data to any remote endpoint.</li>
        <li>Connect to a <a href="https://www.drupal.org/project/site_manager">Site Manager</a> instance to synchronize entity data and provide actions like Remote Login.</li>
        <li>Gather reports from all environments of a project in one place, creating a CI Dashboard.</li>
        <li>Set up your own Site Manager, or try <a href="https://sites.watch?utm_source=drupal.org">Sites.Watch</a>.</li>
      </ul>
    </td>
    <td width="50%">
      <strong>Site Properties</strong>
      <ul>
        <li>HTTP Status</li>
        <li>Git Remote</li>
        <li>Git Reference</li>
        <li>Drupal Site UUID</li>
        <li>Host Provider</li>
        <li>PHP Version</li>
        <li>Drupal Version</li>
        <li>Last Cron Run</li>
        <li>Site Install Time</li>
        <li><a href="https://git.drupalcode.org/project/site/-/tree/2.x/src/Plugin/SiteProperty?ref_type=heads" rel="nofollow">and more...</a></li>
      </ul>
    </td>
  </tr>
  </tbody></table>


<h2>Sponsors</h2>
<table class="views-view-grid">
  <tbody><tr>
    <td with="33%">
      <div class="note">
        <div align="center">
          <table class="views-view-grid" width="150">
            <tbody><tr>
              <td><img src="https://www.drupal.org/files/styles/grid-4-2x/public/logo_194.png?itok=wHJApKo-"></td>
            </tr>
            </tbody></table>
        </div>
        <h3>Development Sponsor</h3>
        <p>ThinkDrop Consulting is the creator and maintainer of Site.module.</p>
        <p align="center"><a class="action-button" href="https://www.thinkdrop.net" rel="nofollow">Visit thinkdrop.net</a></p>
      </div>
    </td>
    <td with="66%">
      <div class="note">
        <div align="center">
          <table class="views-view-grid" width="150">
            <tbody><tr>
              <td><img src=""></td>
            </tr>
            </tbody></table>
        </div>
        <h3>YOUR COMPANY HERE</h3>
        <h3>Platinum Sponsor</h3>
        <p>Help keep site.module going, get exposure on our project pages and documentation, and add to your company's open source credits on Drupal.org.</p>
        <p align="center"><a class="action-button" href="https://opencollective.com/drupal-operations/contribute/platinum-sponsor-60420/checkout" rel="nofollow">Become our Platinum Sponsor</a></p>
      </div>
    </td>
  </tr>
  </tbody></table>


<h2>Getting involved and support options</h2>
<table class="views-view-grid">
  <tbody><tr>
    <td with="33%">
      <div class="note">
        <div align="center">
          <table class="views-view-grid" width="150">
            <tbody><tr>
              <td><img src="/files/issues/2021-04-03/drupal_225.png"></td>
            </tr>
            </tbody></table>
        </div>
        <h3>Get involved</h3>
        <p>Get involved in the Drupal community and the Site module. Review a patch, write documentation, contribute code, volunteer, and more...</p>
        <p align="center"><a class="action-button" href="https://www.drupal.org/contribute" rel="nofollow">Contribute</a></p>
        <p><em>Free for all</em></p>
      </div>
    </td>
    <td with="33%">
      <div class="note">
        <div align="center">
          <table class="views-view-grid" width="150">
            <tbody><tr>
              <td><img src="/files/issues/2021-04-03/webform_225.png"></td>
            </tr>
            </tbody></table>
        </div>
        <h3>Fund development</h3>
        <p>Help fund the day-to-day tasks required to maintain the Site.module. Funds are used to triage issues, resolve security issues, and tag new releases.</p>
        <p align="center"><a class="action-button" href="https://opencollective.com/drupal-operations" rel="nofollow">Fund</a></p>
        <p><em>Starting at $5 a month</em></p>
      </div>
    </td>
    <td with="33%">
      <div class="note">
        <div align="center">
          <table class="views-view-grid" width="150">
            <tbody><tr>
              <td><img src="/files/issues/2021-04-03/person_225.png"></td>
            </tr>
            </tbody></table>
        </div>
        <h3>Professional support</h3>
        <p>Hire the Site.module's subject matter expert (SME) to ensure the success of your project. I can review your project plan, recommend solutions, and implement custom features.</p>
        <p align="center"><a class="action-button" href="https://www.thinkdrop.net" rel="nofollow">Contact</a></p>
        <p><em>Starting at $1500</em></p>
      </div>
    </td>
  </tr>
  </tbody></table>
<table class="views-view-grid" width="100%">
  <tbody><tr>
    <td>
      <div class="note">
        <h3>Support the Drupal Association</h3>
        <p>You can support the continued success of the Drupal project by choosing to <a href="https://www.drupal.org/association/individual-membership" rel="nofollow">become a  member</a> or <a href="https://www.drupal.org/association/donate" rel="nofollow">donate</a>.</p>
      </div>
    </td>
  </tr>
  </tbody></table>
<table class="views-view-grid" width="100%" bgcolor="#d4efcc">
  <tbody>
  <tr>
    <td width="48"><img src="/files/webform-hello-32x32.png" width="32" height="32" alt=""></td>
    <td><strong>New community member and active community member requests will be prioritized</strong>. Please consider <a href="https://www.drupal.org/contribute" rel="nofollow">getting involved</a>, <a href="https://opencollective.com/drupal-operations" rel="nofollow">funding development</a>, and <a href="https://www.thinkdrop.net/" rel="nofollow">hiring professional support</a>.</td>
  </tr>
  </tbody>
</table>
<h3>Finding help with the Site.module</h3>
<p>The Site.module's <a href="https://www.drupal.org/project/issues/site" rel="nofollow">issue queue</a> is for bugs, feature requests, and planning. Please post general support questions to <a href="https://drupal.stackexchange.com/questions/tagged/site-module" rel="nofollow">Drupal Answers</a>. You can also ask questions or help answer questions on the <a href="https://drupal.slack.com/archives/CCGJ7T230" rel="nofollow">#drupal-operations</a> channel on <a href="https://www.drupal.org/slack" rel="nofollow">Drupal Slack</a>.</p>
<hr>
<h3>Getting involved with the Site.module and the Drupal community</h3>
<p>The Site.module is part of Drupal's contributed module ecosystem. The Site.module and Drupal are <a href="https://www.drupal.org/about" rel="nofollow">open source</a> and built by a collaboration of people worldwide that make up the Drupal community. By installing and using Drupal, you are a member of this community. I encourage you and your organization to <a href="https://www.drupal.org/contribute" rel="nofollow">contribute something</a>; sometimes, simply reporting and maybe fixing a minor bug can make a difference.</p>
<p align="center"><a class="secondary-button" href="https://www.drupal.org/contribute" rel="nofollow">Get involved in the Drupal community</a></p>
<hr>
<h3>Funding ongoing development of the Site.module</h3>
<p>The Site.module uses an Open Collective to transparently collect funds that support the day-to-day tasks around the Site.module and ensure stable and reliable releases. Backing the Site module's Open Collective helps guarantee that no tasks fall through the cracks.</p>
<p align="center"><a class="secondary-button" href="https://opencollective.com/drupal-operations" rel="nofollow">Back the Site.module's Open Collective</a></p>
<hr>
<h3>Supporting the Drupal Association</h3>
<p>The Drupal Association provides the infrastructure for hosting and distributing the Site.module. Being a member of the Drupal Association ensures that our collaboration and community are supported and sustainable.</p>
<p align="center"><a class="secondary-button" href="https://www.drupal.org/association" rel="nofollow">Join the Drupal Association</a></p>
<hr>
<h3>Accessing an expert and getting professional support for your organization</h3>
<p>As the Site.module creator with over a two decades of hardcore Drupal experience, I am here to help ensure that your organization succeeds in using the Site.module to address your organization's requirements.</p>
<p>I am here to help create custom Site Manager dashboards, to design and develop multisite and bulk hosting platforms, and to help implement best practices for all of your sites.</p>
<p align="center"><a class="secondary-button" href="https://www.thinkdrop.net/#contact" rel="nofollow">Contact me for professional support</a></p>
<hr>
<div align="center">
  <h2>Thank you to the Site.module's<br>Open Collective Sponsors</h2>
  <h3>Platinum Sponsor</h3>
  <table class="views-view-grid" width="25%">
    <tbody><tr>
      <td>
        <img src="/files/issues/2021-04-03/drupal_225.png">
        <div align="center"><a href="https://opencollective.com/drupal-operations/contribute/platinum-sponsor-60420/checkout" rel="nofollow">Your Company</a></div>
      </td>
    </tr>
    </tbody></table>
  <p><a href="https://opencollective.com/drupal-operations/contribute/organization-impact-sponsor-60420/checkout" class="action-button" rel="nofollow">Become the Platinum Sponsor</a></p>
  <h3>Supporting Sponsors</h3>
  <table class="views-view-grid" width="40%">
    <tbody><tr>
      <td width="50%">
        <img src="/files/issues/2021-04-03/drupal_225.png">
        <div align="center"><a href="https://opencollective.com/drupal-operations/contribute/supporting-sponsor-60419/checkout" rel="nofollow">Your Company</a></div>
      </td>
      <td width="50%">
        <img src="/files/issues/2021-04-03/drupal_225.png">
        <div align="center"><a href="https://opencollective.com/drupal-operations/contribute/supporting-sponsor-60419/checkout" rel="nofollow">Your Company</a></div>
      </td>
    </tr>
    </tbody></table>
  <p><a href="https://opencollective.com/drupal-operations/contribute/organization-supporting-sponsor-60419/checkout" class="action-button" rel="nofollow">Become a Supporting Sponsor</a></p>
  <h3>Growth Backers</h3>
  <table class="views-view-grid" width="40%">
    <tbody><tr>
      <td width="50%">
        <img src="/files/issues/2021-04-03/drupal_225.png">
        <div align="center"><a href="https://opencollective.com/drupal-operations/contribute/growth-backer-60418/checkout" rel="nofollow">Your Company</a></div>
      </td>
      <td width="50%">
        <img src="/files/issues/2021-04-03/drupal_225.png">
        <div align="center"><a href="https://opencollective.com/drupal-operations/contribute/growth-backer-60418/checkout" rel="nofollow">Your Company</a></div>
      </td>
    </tr>
    </tbody></table>
  <p><a href="https://opencollective.com/drupal-operations/contribute/organization-growth-backer-60418/checkout" class="action-button" rel="nofollow">Become a Growth Backer</a></p>
  <hr>
  <p><strong><a href="https://opencollective.com/drupal-operations#section-contributors" rel="nofollow">View all the contributors to the Site.module's Open Collective</a></strong></p>
  <hr>
</div>
<p><br clear="both"></p></div>
